
/Binaries
/Config
/Content
/Plugins
/Releases
/Saved
Raven.png
Licenses/licenses.txt
Homeworld3.uproject
DerivedDataCache/Compressed.ddp
CopyModAssetRegistry.bat
compile.bat
ClearModAssetRegistry.bat
cleanup.bat
BuildShaderCacheWin64.bat
.reviewboardrc
.editorconfig
.clang-tidy
/DerivedDataCache
/Intermediate
/Build
/Mods/MemorialCampaignMod/Saved
